<div class="container form my-5">
  <h1>Edit Profile</h1>
  <%= simple_form_for(my_profile_url) do |f| %>
    <% if @user.category = "supplier" %>
      <%= f.input :company_name %>
    <% else %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
    <% end %>
    <%= f.input :email %>
    <%= f.input :bio %>
      <%= f.submit "Edit Profile", class: "btn btn-primary" %>
  <% end %>
  <br>
</div>
