<%# <h2>Your daycares:</h2> %>
<div class="row">
  <% current_user.daycares.each do |daycare| %>
    <div class='col col-sm-6'>
      <div class="card-profile mt-4 d-flex flex-column">
        <img src= "https://www.todaysparent.com/wp-content/uploads/2016/09/daycare-germs-what-you-need-to-know-1280x960-new.jpg" class="w-100"/>
        <div class="card-profile-infos d-flex justify-content-between">
          <div class="d-flex flex-column align-items-between m-2">
            <h2><%= link_to daycare.name, daycare_path(daycare) %></h2>
              <div class="d-flex align-items-center">
                <% if daycare.rating >= 1 %>
                  <span class="fa fa-star checked"></span>
                <% else %>
                  <span class="fa-regular fa-star"></span>
                <% end %>
                <% if daycare.rating >= 2 %>
                  <span class="fa fa-star checked"></span>
                <% else %>
                  <span class="fa-regular fa-star"></span>
                <% end %>
                <% if daycare.rating >= 3 %>
                  <span class="fa fa-star checked"></span>
                <% else %>
                  <span class="fa-regular fa-star"></span>
                <% end %>
                <% if daycare.rating >= 4 %>
                  <span class="fa fa-star checked"></span>
                <% else %>
                  <span class="fa-regular fa-star"></span>
                <% end %>
                <% if daycare.rating >= 5 %>
                  <span class="fa fa-star checked"></span>
                <% else %>
                  <span class="fa-regular fa-star"></span>
                <% end %>
                <p class="ml-3 mt-1">(<%= daycare.reviews.size %>)</p>
              </div>
              <div class="client-consultation-text">
                <p class="pt-1"><em><%= daycare.description %></em></p>
                <p class="pt-1"><%= daycare.address %></p>
              </div>
          </div>
          <div class="d-flex justify-content-end">
            <div>
              <%= link_to "Delete", daycare_path(daycare), method: :delete, class:"btn btn-danger decline-btn" %>
            </div>
            <div>
              <%= link_to "Edit", edit_daycare_path(daycare), class: "btn btn-danger edit-btn"%>
            </div>
          </div>

        </div>
      </div>
    </div>
  <% end %>
</div>
