<h2>Your pending consultations:</h2>
<% @pending_consultations[0].each do |consultation| %>
  <h2>Booked by: <%= link_to "#{consultation.client.first_name} #{consultation.client.last_name}", client_profile_path(consultation.client) %></h2>
  <p><%= consultation.daycare.name %></p>
  <p><%= consultation.date_time %></p>
  <p>Status:<%= consultation.status %></p>
  <%= simple_form_for consultation do |f| %>
  <%= f.input :status, priority: ["Pending"], collection: ["Confirmed", "Declined"]%>
  <%= f.submit "Submit", class:"btn btn-success w-100"%>
<% end %>
<% end %>
