<div class='container'>
  <div class="profile-header">
    <h1 class= "mt-4">Hello, <%= current_user.first_name %>!</h1>
  </div>

<%# Display profile photo here %>
  <div class="row mt-4 pb-4">
    <div class="col-lg-12">
      <div class="card-trip line-break">
      </div>
      <div class="card-trip mt-4">
        <div class="d-flex justify-content-between align-items-start">
          <h2>Your bio:</h2>
        </div>
        <p><%= current_user.bio %></p>
        <p class="line-break pb-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus delectus suscipit totam animi modi dolorem fugit? Sapiente, pariatur eum minus, fugiat magni unde</p>
      </div>
    </div>


<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#test" aria-current="page" id="test-tab" href="#">All Consultations</a>
  </li>
  <li>
    <a class="nav-link" data-bs-toggle="tab"  data-bs-target="#pending" aria-current="page" id="test-pending" href="#">Pending Consultations</a>
  </li>
  <li>
    <a class="nav-link" data-bs-toggle="tab"  data-bs-target="#upcoming" aria-current="page" id="test-upcoming" href="#">Upcoming Consultations</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="test" role="tabpanel"><%= render 'profiles/partials/client-tabs/all-tab'%></div>
  <div class="tab-pane fade" id="pending" role="tabpanel"> <%= render 'profiles/partials/client-tabs/pending-tab'%></div>
  <div class="tab-pane fade" id="upcoming" role="tabpanel"><%= render 'profiles/partials/client-tabs/confirmed-tab'%></div>
</div>
