<h1>Daycares:</h1>
<% @daycares.each do |daycare| %>
  <h2><%= link_to daycare.name, daycare_path(daycare) %></h2>
  <p><%= daycare.address %></p>
  <p>$<%= daycare.price %>per week</p>
  <p><%= daycare.description %></p>
  <p>Openings: <%= daycare.number_of_openings %></p>
<% end %>

<div class="map-column map-sticky" style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
