<h1>New Daycare</h1>
  <%= simple_form_for(@daycare) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :number_of_openings %>
    <%#= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%# <div class='d-flex justify-content-between pt-4'> %>
      <%# <p class='m-0'> %>
    <%= f.submit "Create Daycare", class: "btn btn-primary" %>
      <%# </p> %>
    <%# </div> %>
  <% end %>
