<!DOCTYPE html>
<html>
  <head>
    <title>ToddlrCare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/ea809bf82d.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="page-container">
      <div class="content-wrap">
        <div class="stuck">
          <div class="container">
            <%= render "shared/navbar" %>
            <%= render 'shared/flashes' %>
          </div>
          <div class="line-break p-0"></div>
        </div>
        <%= yield %>
      </div>
    <%# <p class="notice"><%= notice </p> %>
    <p class="alert"><%= alert %></p>
  </body>
</html>
